<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/head-nav') %>
            <h1>Admin Home Page</h1>
            <a href="/admin/newMovie">Add a New Movie</a><br>
            <a href="/admin/selectMovie">Edit a Movie</a><br>
            <a href="/admin/newTheatre">Add a New Theatre</a><br>
            <a href="/admin/selectTheatre">Edit a Theatre</a><br>
            <a href="/admin/newShowing">Add Showings</a><br>
            <a href="/admin/editShowing">Edit Showings</a><br>
    </body>

</html>