<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
    <%- include ('../partials/head-nav') %>

        <body>
            <h1>Admin Home Page</h1>
            <a href="admin/newMovie">Add a New Movie</a><br>
            <a href="/admin/editMovie">Edit a Movie</a><br>
            <a href="/admin/newMovie">Add a New Theatre</a><br>
            <a href="/admin/editMovie">Edit a Theatre or Schedule</a><br>
        </body>

</html>