<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>
    <h1>Admin Home Page</h1>
    <a href="/movie/new">Add a New Movie</a><br>
    <a href="/movie/edit">Edit a Movie</a><br>
    <a href="/theatre/new">Add a New Theatre</a><br>
    <a href="/theatre/edit">Edit a Theatre or Schedule</a><br>
</body>
</html>