<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/head-nav') %>
            <div class="container fullscreen">
                <div class="row background-t">
                    <div class="col-lg-5">
                        <h1>Admin Home Page</h1>
                        <a href="/admin/newMovie">Add a New Movie</a><br>
                        <a href="/admin/selectMovie">Edit a Movie</a><br>
                        <a href="/admin/newTheatre">Add a New Theatre</a><br>
                        <a href="/admin/selectTheatre">Edit a Theatre</a><br>
                        <a href="/admin/newShowing">Add Showings</a><br>
                        <a href="/admin/selectTheatreToEditShowing">Edit Showings</a><br>
                    </div>
                </div>
            </div>
    </body>

</html>