<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
        <%- include ('../partials/head-nav') %>
<body>
    <h1>Add new showings</h1>
    Select Theatre: <option value="theatre">Theatre Name</option>
    Price: <input type="number" name="price"/><br>
    Showings: <input type="checkbox" name="playing"> 1:00PM
        <option value="movie">Movie Name</option>
    <input type="checkbox" name="playing"> 3:00PM
        <option value="movie">Movie Name</option>
    <input type="checkbox" name="playing"> 5:00PM
        <option value="movie">Movie Name</option>
    <input type="checkbox" name="playing"> 7:00PM
        <option value="movie">Movie Name</option>
    <input type="checkbox" name="playing"> 9:00PM
        <option value="movie">Movie Name</option>
    <input type="submit" value="Create new showing(s)">
</body>
</html>