<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make an new theatre</title>
</head>
<body>
    <h1>Add a new theatre to the database</h1>
    <form action="/theatre" method="POST">
        Name: <input type="text" name="name" required /><br>
        Location: <input type="text" name="location" required /><br>
        Price: <input type="number" name="price"/><br>
        Image: <input type="file" name="image" required /><br>
        Showings: <input type="checkbox" name="playing"> 1:00PM
            <option value="movie">Movie Name</option>
        <input type="checkbox" name="playing"> 3:00PM
            <option value="movie">Movie Name</option>
        <input type="checkbox" name="playing"> 5:00PM
            <option value="movie">Movie Name</option>
        <input type="checkbox" name="playing"> 7:00PM
            <option value="movie">Movie Name</option>
        <input type="checkbox" name="playing"> 9:00PM
            <option value="movie">Movie Name</option>
        <input type="submit" value="Create new theatre">
    </form>
</body>
</html>