<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make an new theatre</title>
</head>
<body>
    <h1>Add a new theatre to the database</h1>
    <form action="/theatre" method="POST">
        Name: <input type="text" name="name" required />
        Location: <input type="text" name="location" required />
        Image: <input type="file" name="image" required />
        Showings: 
        <input type="submit" value="Create new theatre">
    </form>
</body>
</html>