<div class="all-theatres-list-div">
    <h1>All Theatres</p>
    <div>
        <img src="https://deadline.com/wp-content/uploads/2019/06/regal-cinemas-theater.jpg" alt="movie-poster">
        <p class="theatre-name">Theatre: theatres.name</p>
        <p class="theatre-address">Address: theatres.location</p>
    </div>
</div>