<div class="all-threatres-list-div">
    <h1>All Threatres</p>
        <div>
            <img src="https://deadline.com/wp-content/uploads/2019/06/regal-cinemas-theater.jpg" alt="movie-poster">
            <p class="threatre-name">Theatre: theatres.name</p>
            <p class="threatre-address">Address: theatres.location</p>
        </div>
</div>