<div>
    <img src="" alt="">
    <p>Theatre Name:
        <a href="/theatre/<%= oneTheatre._id%>">
            <%= oneTheatre.name%>
        </a>
    </p>
    <p>Theatre Location:
        <%= oneTheatre.location%>
    </p>
</div>