<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<div class="page-header" style="background-color: #202020;">
    <header class="page-header">
        <div class="container">
            <div class=row>
                <div class="col-sm-10">
                    <a href="/">
                        <img src="/photos/MovieNow.png">
                    </a>
                    <a href="/admin/" class="btn btn-primary btn-sm active">Access Admin Page</a>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="container-fluid">
    <div class="row justify-content-md-left">
        <div class="col-md-1"></div>
        <div class="col-sm-5">
            <nav>
                <a href="/theatre">All Theatres</a>
                <img src="/photos/nav-bar-line.svg">
                <a href="/movie">All Movies</a>
            </nav>
        </div>

    </div>
</div>