<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<div class="page-header" style="background-color: #202020;">
    <header class="page-header">
        <div class="container">
            <div class=row>
                <div class="col-sm-10">
                    <a href="/" class="mx-auto">
                        <img src="/photos/MovieNow.png" class="my-sm-2">
                    </a>
                    <a href="/admin/"><button class="btn btn-primary btn-sm active">Access Admin Page</button></a>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-outline-success my-2 my-sm-3" type="submit">Sign in</button>
                </div>
            </div>
            <div class="row my-sm-1">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <a href="/theatre">All Theatres</a>
                    <img src="/photos/nav-bar-line.svg">
                    <a href="/movie">All Movies</a>

                </div>
            </div>
    </header>
    </div>